import { FC } from 'react';
import s from './{{camelCase title}}.module.sass';

interface I{{properCase title}} {

};

const {{properCase title}}: FC<I{{properCase title}}> = () => {
    return (
        <div className = { s.{{camelCase title}} }>

        </div>
    );
};

export default {{properCase title}};